@import "4-header.css";
@import "3-footer.css";
@import "5-filters.css";
body{
    margin: 0px;
    padding: 0px;
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    max-width: 1000px;
    margin-block: 30px;
    margin-inline: auto;
    height: 30px;
}