.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    border: none;
    width: 20%;
    border-radius: 4px;
    margin-right: 20px;
    margin-left: 25%;
}
.filters button:hover{
    opacity: 0.9;
}
.filtnames{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.amenities, .locations{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    flex-grow: 1;
    height: 100%;
}

.locations{
    border-right: 1px #DDD solid;
}